*{margin:0; padding:0;}
body{-webkit-user-select: none; font-family:'微软雅黑';}
.main{width: 100%; min-width: 304px; max-width: 640px; height: 100%; margin: auto; background: #2f234f; display: block;}
.sprite-wrapper{width:100%;height:35%; position:relative;}
.sprite-word-xi{position: absolute;top: 18%;height: 38%;left:10%;display: block;z-index:5;}
.sprite-word-che{position: absolute;top: 12%;height: 39%;left:32%;display: block;z-index:5;}
.sprite-word-juan{position: absolute;top:17%;height:35%;left:55%;display: block;z-index:5;}
.sprite-word-xian{position: absolute;top: 56%;height: 34%;left:22%;display: block;z-index:5;}
.sprite-word-liang{position: absolute;top: 56%;height: 34%;left:41%;display: block;z-index:5;}
.sprite-word-qiang{position: absolute;top: 26%;height: 67%;left:60%;display: block;z-index:5;}
.sprite-word-qian-icon{position: absolute;bottom: 0%;height: 15%;left:8%;display: block;z-index:7;}
/*背景圆点*/
.icon-bk-radius-1{position: absolute;top: 8%;left: 25%;-webkit-border-radius: 50%;width:20px;height:20px;background: #1e0c4d; z-index:2;}
.icon-bk-radius-2{position: absolute;top: 28%;right: 5%;-webkit-border-radius: 50%;width:30px;height:30px;background: #1e0c4d; z-index:2;}
.icon-bk-radius-3{position: absolute;top: 50%;right: 4%;-webkit-border-radius: 50%;width:15px;height:15px;background: #1e0c4d; z-index:2;}
.icon-bk-radius-4{position: absolute;bottom:-13%;left: 14%;-webkit-border-radius: 50%;width:15px;height:15px;background: #1e0c4d; z-index:2;}
.icon-bk-radius-5{position: absolute;bottom:-13%;right: 0%;-webkit-border-radius: 60px 0 0 60px;width:30px;height:60px;background: #1e0c4d; z-index:2;}
.money-wrapper{width:100%;height:65%; position:relative;}
.money-img-shelter-bj{position: absolute;bottom: 0%; width:100%;height: 100%;left:0%;display: block; z-index:1;}
.money-img-shelter-bj-qian{position: absolute;bottom: 0%; width:100%;height: 90%;left:0%;display: block; z-index:39;}
.hua-icon-1{position: absolute;top: 8%; height:17%;left:5%;display: block; z-index:40;}
.hua-icon-2{position: absolute;top: 6%; height:5%;left:57%;display: block; z-index:40;}
.hua-icon-3{position: absolute;top: 22%; height:5%;left:80%;display: block; z-index:40;}
.img-qianbao{position: absolute;top: 13%; height:13%;left:23%;display: block; z-index:21;}
.img-qianbao-1{position: absolute;top: 22%; height:9%;left:45%;display: block; z-index:21;}
.img-qianbao-2{position: absolute;top: 16%; height:12%;left:62%;display: block; z-index:21;}
.img-qianbao-3{position: absolute;top: 17%; height:15%;left:70%;display: block; z-index:21;}
.img-money-02-icon{position: absolute;top:12%; height:13%;left:15%;display: block; z-index:22;}
.img-money-01-icon{position: absolute;top:15%; height:6%;left:45%;display: block; z-index:22;}
.img-money-01-icon-1{position: absolute;top:20%; height:6%;left:35%;display: block; z-index:22;}
.img-money-03-icon{position: absolute;top:20%; height:7%;left:50%;display: block; z-index:22;}
.icon-img-dd1{position: absolute;top:30%; height:6%;left:3%;display: block; z-index:41;}
.icon-img-dd4{position: absolute;top:12%; height:8%;right:8%;display: block; z-index:41;}
.icon-img-dd5{position: absolute;top:50%; height:13%;right:2%;display: block; z-index:41;}
.enter-input{position: absolute;top: 43%; width:100%; height:13%;left:0%;display: block; z-index:50; display:block; text-align:center;}
.enter-input input{margin:auto; padding:0; width:53%; height:100%; line-height:100%; border:3px solid #ffed27;outline:none;-webkit-border-radius:15px; background:#fff; font-size:1em; font-weight:bold; color:#999; text-align:center;}
.btn-input{position: absolute;top: 63%; width:100%; height:15%;left:0%;display: block; z-index:50; display:block; text-align:center;}
.btn-input img{height:100%;}
/*恭喜你中奖*/
.prize-wrapper{width:100%;height:65%; position:relative;}
.money-img-zjym-xf-hbj-img{position: absolute;bottom: 3%; width:95%;height: 100%;left:2%;display: block; z-index:1;}
.money-img-zjym-xf-qbj-img{position: absolute;bottom:3%; width:88.5%;height: 61.5%;left:6%;display: block; z-index:39;}
.prize-main{position: absolute;top:6%; width:94%;height:94%;left:6%;display: block; z-index:10;}
.prize-main-pop{position:relative; width:100%; height:100%;}
.prize-main-pop .money-img-zjym-xf-zj-bj-img{width:90%; position:absolute; top:0%;}
.prize-main-pop .h1{position:absolute; top:5%; z-index:11; width:100%; text-align:center; font-size:2em;color:#b7131b; font-family:Arial, Helvetica, sans-serif;}
.prize-main-pop .h1 span{font-size:3em; color:#b7131b; font-family:Arial, Helvetica, sans-serif; margin-right:5px;}
.get-text{position:absolute; top:55%; z-index:40; width:100%; text-align:center; font-size:1.5em; color:#ffed27;}
.explain-text{position:absolute; top:65%; z-index:40; width:100%; text-align:center; font-size:0.8em; color:#fff;}
.btn-input-xzExc{position: absolute;top: 75%; width:100%; height:15%;left:0%;display: block; z-index:50; display:block; text-align:center;}
.btn-input-xzExc img{height:100%;}
.prize-wrapper .icon-img-dd1{position: absolute;top:30%; height:6%;left:5%;display: block; z-index:41;}
.prize-wrapper .icon-img-dd2{position: absolute;top:25%; height:5%;right:5%;display: block; z-index:41;}
.prize-wrapper .icon-img-dd3{position: absolute;top:40%; height:13%;right:7%;display: block; z-index:41;}
/*已经领过红包*/
.ylg-hb-text{width:100%; font-size:2em; text-align:center; color:#ffed27;padding-top:10%;}
.ylg-hb-img-1{width:100%; height:50%;background-image: url(../images/img-1.png);background-repeat: no-repeat;background-position: center center;display: block; background-size:60%;}
.btn-input-fxghy{width:100%; height:10%;display: block; z-index:50; display:block; text-align:center;}
.btn-input-fxghy img{height:100%;}
/*活动结束*/
.ylg-hb-img-2{width:100%; height:50%;background-image: url(../images/img-2.png);background-repeat: no-repeat;background-position: center center;display: block; background-size:60%;}
